*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    height:100vh ;                          
    background-image: linear-gradient(45deg, #bf2e34,#753682);
    justify-content: center;
    display: flex;
    align-items: center;
}
.first-player-cont,.second-player-cont{
    width: 400px;
    height:450px;
    text-align: center;
}
.first-player-cont{  
    background-color: #d2a6b0; 
}
.second-player-cont{
    background-color: #b16f8d;
}

.both-player {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
.Roll-dice,.hold,.dice,.new-game{
    position: absolute;
    
}
.new-game,.hold,.Roll-dice{
    top: 10%;
    padding: 8px 15px;
    border-radius: 17px;
    font-size: 13px;
    border: 0px;
}
img.dice {
    width: 50px;
    height: 50px;
}
.Roll-dice{
    top: 75%;
}  
.hold{
    top: 85%;
}

.currentscore{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.currentScoreInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #a3284a;
    width: fit-content;
    padding: 20px 40px;
    border-radius: 5px ;
    color: #fff;
    
}
h2{
    padding-top:70px;
    font-size:40px;
    text-transform: uppercase;
}
p.score{
    font-size:35px;
    color:#a3284a;
    padding-top:20px;
}
.hidden{
    display: none;
}